@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=VT323&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=VT323&display=swap');
.slider{
  
  display: flex;
  font-family: monospace;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 900;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  
}

.slides{
  color: #660000;
  color: black;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 250px;
  height: 300px;
  background: white;
  background-image: url('https://techfest.org/gamersleague/images/pubg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  transform: scale(1);
  transition: transform 0.5s;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  opacity: 1;

}
.slider::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slider::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slider::-webkit-scrollbar-track {
  background: transparent;
}


.container {
  display : block;
  color: black;
  width: 80%;
  margin: auto;
  background:  white;
}
.box{
  padding: 10px;
  width: 100%;
  margin: auto;
}